Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.blend1
.synkron.syncdb
.synkron.sync
*.code-workspace
Crafts/
Releases/
Build/
Plugins/
*_BuiltData.uasset
.idea/
